<div id="picsform">
  <form action="/pics" method="post">
    <label for="picsentry">Picture Type: </label>
    <input class="form-control" type="text" name="picsentry" placeholder="e.g. dog, cat, airplane">
    <input id="form-submit" type="submit" value="Submit Button">
  </form>
</div>
