body {
  font-family: 'Roboto', sans-serif;
  background-color:rgb(255,69,0);
}

h1 {
	font-size:2.8em;
}

h2 {
	font-size:2.5em;
}

h3 {
  font-size:2.2em;
}

a {
  font-size:1.6em;
}

#container {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:80%;
  min-height:100%;
  text-align:center;
}

.pictures {
  position: relative;
  display: inline-block;
  width:30%;
  height:30%;
  padding:10px;
}

#footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom:0px;
  left:10px;
  margin:auto;
}